.App{
  // background-color:var(--card-bg-color);
  // box-shadow:var(--card-shadow);
  // width: 100px;
  // height: 100px;

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
