.quiz{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  border-radius:12px;
  position: relative;
}

.quiz-header{
  width:  100%;
  background-color:#2999e5;
  display:flex;
  border-top-right-radius:12px;
  border-top-left-radius:12px;
  justify-content: center;
}

.header-title{
  font-size: 32px;
  color: #fff;
}


.quiz-questions{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.quiz-question{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 12px;
  transition: 0.3s;
  border-radius: 8px;
  border:0px
}

.quiz-question:hover{
  cursor: pointer;
}


.question-text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}


.question-text{
  font-size: 32px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}


.quiz-wrapper{
  height: 100%;
  padding: 4% 0px;
  min-height: 80%;

}

.btn-continue{
  padding: 12px;
  width: 100%;
  color:#fff;
  background-color: #2999e5;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  margin-top: 32px;
}

.correct{
  //outline: 1px solid green;
  background-color: #28ca8f;
  color: #fff;
}

.error{
  //outline: 1px solid red;
  background-color: #f16161;
  color: #fff;
}

.quiz-timer{
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 120px;
}

.timer-text{
  margin-right: 12px;
  font-size: 24px;
  font-weight: 600;
}

.quiz-question-count{
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 120px;
}

.question-count-text{
  margin-left: 12px;
  font-size: 24px;
  font-weight: 600;
}

.timeIsLeftError{
  color: red;

  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;

}
